<div class="garageContainer">
    {{#each data}}
    <div class=" col s4 m3">

        <figure class="snip1273">
            <img src="{{dataValues.image}}" alt="sample72" />
            <figcaption>
                <h3>{{dataValues.heading}}</h3>
                <p class="body-type">Body-type: {{dataValues.body_type}}</p>
                <p class="drivetrain">Drivetrain: {{dataValues.drivetrain}}</p>
                <p class="engine">Engine: {{dataValues.engine}}</p>
                <p class="doors">Doors: {{dataValues.doors}}</p>
                <p class="transmission">Transmission: {{dataValues.transmission}}</p>
                <button id="{{dataValues.id}}" class="delete-car red">-</button>
            </figcaption>
        </figure>
    </div>

    {{/each}}
</div>
