<div class="all">
    <div class="something">
        <div id="main" class="main col s12">
            <div class="row">
                <div class="year col s6">
                    <input id="year" type="text" placeholder="Year">
                </div>
                <div class="make col s6">
                    <input id="make" type="text" placeholder="Make">
                </div>
                <div class="Model col s12">
                    <input id="model" type="text" placeholder="Model">
                </div>
            </div>
            <button class="searchBtn">Submit</button>
        </div>
    </div>
    <div class="cards">
        <div class="row">
            <div class="col m12">
                
                <div class="testing col s4 m3">
                    <div class="card">
                        <div class="card-image">
                            <img class="photolink" src="{{media.photo_links}}">
                            <span class="card-title"></span>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                                    class="material-icons">+</i></a>
                        </div>
                        <div class="card-content">
                            <p class="heading">{{data.heading}}</p>
                            <p class="body-type">Body Type: {{build.body_type}} </p>
                            <p class="drivetrain">Drivetrain: {{build.drivetrain}}</p>
                            <p class="engine">Engine: {{build.engine}}</p>
                            <p class="doors">Number of doors: {{build.doors}}</p>
                            <p class="transmission">Transmission: {{transmission}}</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    {{!-- <img class="car-image" src="{{media.photo_links}}"> --}}


    <div class="container">
        <div class="tech-slideshow">
            <div class="mover-1"></div>
            <div class="mover-2"></div>
        </div>

    </div>




    {{!-- 
    <div id="container">
        <div class="photo">
            <a class="photo-item" href="#one!"><img
                    src="https://cdn.carbase.com/dealerx/choiceautomotive/4237738_103652518_640.jpg">
                <div class="imgtext">2011 Ford Explorer</div>
            </a>
            <a class="photo-item" href="#two!"><img
                    src="https://cdn.jdpower.com/Models/640x480/2011-Hyundai-Elantra-GLS.jpg">
                <div class="imgtext">2011 Hyundai Elantra</div>
            </a>
            <a class="photo-item" href="#three!"><img src="https://m.media-amazon.com/images/I/71ZZcROp36L._UY560_.jpg">
                <div class="imgtext">Ford F-150</div>
            </a>
            <a class="photo-item" href="#four!"><img
                    src="https://lh3.googleusercontent.com/proxy/295V6iRZhw_uWVP6hJ38hRvdVjdAo4sJE0LQnAHBHFtyU_6wV7hVsrtHC7j2uXHt207qCdfsYz7gwDxvzgF7uAEU-v1ZAwDUbGkbXtb2c_9L-f9hplO9JyUvQb-_VRkL48N6p1QXzTyBQJ34mc4">
                <div class="imgtext">Lamborghini Veneno Roadster</div>
            </a>
            <a class="photo-item" href="#five!"><img
                    src="https://www.esquireme.com/sites/default/files/styles/full_img/public/images/2019/09/12/super-sport-300-1.jpg?itok=-vED5XoK">
                <div class="imgtext">bugatti chiron super sport 300+</div>
            </a>
        </div>
    </div>

</div> --}}
    {{!-- 
<p>Body Type: {{build.body_type}} </p>
<p>Drivetrain: {{build.drivetrain}}</p>
<p>Engine: {{build.engine}}</p>
<p>Number of doors: {{build.doors}}</p>
<p>Transmission: {{build.transmission}}</p> --}}